{% extends 'layout.html'%}

{%block body%}
<h1>HOME</h1>
<h6>About Me</h6>
<hr/>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est at quod optio dolorem fugiat tempora ipsam veritatis iste magni quam. Doloremque nesciunt deserunt, veritatis quis delectus architecto hic aspernatur animi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis possimus qui excepturi aliquid quibusdam tempore illum fuga, omnis velit error veritatis esse quidem nisi praesentium placeat eaque assumenda optio ipsam.</p>
        </div>
        <div class="col justify-content-md-center">
            <img src= "static\professional_image.jpg" width=75%>
        </div>
    </div>
</div>
{%endblock%}